In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from opti_recruit.pipeline import Trainer
from opti_recruit.data import get_data,clean_data
import opti_recruit.feature_engineering as fe
import opti_recruit.get_team_features as gtf
import pandas as pd

FileNotFoundError: [Errno 2] No such file or directory: 'raw_data/fifa22/players_17.csv'

In [6]:
df=pd.read_csv('df_all_d_new.csv',index_col=[0])
df=df.dropna(how='any')

In [7]:
df

,sofifa_id,physic_21,defending_21,dribbling_21,passing_21,shooting_21,pace_21,release_clause_eur_21,international_reputation_21,skill_moves_21,...,club_contract_valid_until_19,league_level_19,club_team_id_19,weight_kg_19,height_cm_19,age_19,wage_eur_19,value_eur_19,potential_19,overall_19
2,20801,77.0,35.0,89.0,81.0,93.0,89.0,75900000.0,5.0,5.0,...,2022.0,1.0,45.0,83.0,187.0,33.0,400000.0,77000000.0,94.0,94.0
4,192985,78.0,64.0,88.0,93.0,86.0,76.0,161000000.0,4.0,4.0,...,2023.0,1.0,10.0,70.0,181.0,27.0,350000.0,102000000.0,92.0,91.0
6,231747,76.0,39.0,91.0,78.0,86.0,96.0,203100000.0,3.0,5.0,...,2022.0,1.0,73.0,73.0,178.0,19.0,80000.0,72000000.0,95.0,87.0
9,202126,83.0,47.0,80.0,80.0,91.0,68.0,140200000.0,3.0,3.0,...,2024.0,1.0,18.0,89.0,188.0,24.0,200000.0,86000000.0,92.0,89.0
10,215914,82.0,86.0,81.0,76.0,66.0,77.0,96900000.0,3.0,2.0,...,2021.0,1.0,5.0,68.0,168.0,27.0,225000.0,63000000.0,90.0,89.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19686,191005,70.0,67.0,69.0,71.0,64.0,68.0,2900000.0,2.0,3.0,...,2020.0,2.0,2.0,78.0,182.0,30.0,15000.0,2200000.0,72.0,72.0
19722,211338,71.0,63.0,72.0,70.0,67.0,69.0,3900000.0,1.0,3.0,...,2018.0,1.0,110152.0,65.0,164.0,27.0,7000.0,3500000.0,73.0,72.0
19735,216468,57.0,43.0,71.0,72.0,69.0,68.0,4600000.0,1.0,3.0,...,2021.0,2.0,573.0,65.0,175.0,24.0,9000.0,7500000.0,79.0,74.0
19963,178233,68.0,59.0,71.0,65.0,62.0,66.0,1500000.0,1.0,3.0,...,2019.0,1.0,80.0,78.0,182.0,29.0,4000.0,850000.0,68.0,68.0
21122,221662,65.0,55.0,67.0,63.0,66.0,73.0,1500000.0,1.0,3.0,...,2020.0,1.0,702.0,75.0,174.0,23.0,3000.0,1100000.0,75.0,67.0

In [44]:
pd.set_option('display.max_columns', None)
df_22=pd.read_csv('../raw_data/fifa22/players_22.csv')
df_22=df_22[['sofifa_id', 'physic', 'defending', 'dribbling', 'passing',
             'shooting', 'pace', 'release_clause_eur',
             'international_reputation', 'skill_moves', 'weak_foot',
             'club_contract_valid_until', 'league_level',
             'weight_kg', 'height_cm', 'age',
             'wage_eur', 'value_eur', 'potential', 'overall']]
df_22

/var/folders/w7/n5m3c1_n3mn3b92rk5hw7msc0000gn/T/ipykernel_43387/3109639938.py:2: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df_22=pd.read_csv('../raw_data/fifa22/players_22.csv')

,sofifa_id,physic,defending,dribbling,passing,shooting,pace,release_clause_eur,international_reputation,skill_moves,weak_foot,club_contract_valid_until,league_level,weight_kg,height_cm,age,wage_eur,value_eur,potential,overall
0,158023,65.0,34.0,95.0,91.0,92.0,85.0,144300000.0,5,4,4,2023.0,1.0,72,170,34,320000.0,78000000.0,93,93
1,188545,82.0,44.0,86.0,79.0,92.0,78.0,197200000.0,5,4,4,2023.0,1.0,81,185,32,270000.0,119500000.0,92,92
2,20801,75.0,34.0,88.0,80.0,94.0,87.0,83300000.0,5,5,4,2023.0,1.0,83,187,36,270000.0,45000000.0,91,91
3,190871,63.0,37.0,94.0,86.0,83.0,91.0,238700000.0,5,5,5,2025.0,1.0,68,175,29,270000.0,129000000.0,91,91
4,192985,78.0,64.0,88.0,93.0,86.0,76.0,232200000.0,4,4,5,2025.0,1.0,70,181,30,350000.0,125500000.0,91,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,261962,49.0,42.0,48.0,46.0,35.0,58.0,114000.0,1,2,3,2021.0,1.0,64,180,22,1000.0,70000.0,52,47
19235,262040,51.0,41.0,46.0,50.0,39.0,59.0,193000.0,1,2,3,2021.0,1.0,70,175,19,500.0,110000.0,59,47
19236,262760,52.0,41.0,49.0,45.0,37.0,60.0,175000.0,1,2,3,2021.0,1.0,72,178,21,500.0,100000.0,55,47
19237,262820,42.0,15.0,48.0,36.0,46.0,68.0,239000.0,1,2,3,2021.0,1.0,66,173,19,500.0,110000.0,60,47
19238,264540,48.0,36.0,48.0,45.0,38.0,68.0,217000.0,1,2,3,2025.0,1.0,61,167,19,500.0,110000.0,60,47

In [45]:
#dfs=df.merge(df_22,on='sofifa_id',how='inner')

In [46]:
dfs=df_22[df_22['value_eur']!=0]
dfs

,sofifa_id,physic,defending,dribbling,passing,shooting,pace,release_clause_eur,international_reputation,skill_moves,weak_foot,club_contract_valid_until,league_level,weight_kg,height_cm,age,wage_eur,value_eur,potential,overall
0,158023,65.0,34.0,95.0,91.0,92.0,85.0,144300000.0,5,4,4,2023.0,1.0,72,170,34,320000.0,78000000.0,93,93
1,188545,82.0,44.0,86.0,79.0,92.0,78.0,197200000.0,5,4,4,2023.0,1.0,81,185,32,270000.0,119500000.0,92,92
2,20801,75.0,34.0,88.0,80.0,94.0,87.0,83300000.0,5,5,4,2023.0,1.0,83,187,36,270000.0,45000000.0,91,91
3,190871,63.0,37.0,94.0,86.0,83.0,91.0,238700000.0,5,5,5,2025.0,1.0,68,175,29,270000.0,129000000.0,91,91
4,192985,78.0,64.0,88.0,93.0,86.0,76.0,232200000.0,4,4,5,2025.0,1.0,70,181,30,350000.0,125500000.0,91,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,261962,49.0,42.0,48.0,46.0,35.0,58.0,114000.0,1,2,3,2021.0,1.0,64,180,22,1000.0,70000.0,52,47
19235,262040,51.0,41.0,46.0,50.0,39.0,59.0,193000.0,1,2,3,2021.0,1.0,70,175,19,500.0,110000.0,59,47
19236,262760,52.0,41.0,49.0,45.0,37.0,60.0,175000.0,1,2,3,2021.0,1.0,72,178,21,500.0,100000.0,55,47
19237,262820,42.0,15.0,48.0,36.0,46.0,68.0,239000.0,1,2,3,2021.0,1.0,66,173,19,500.0,110000.0,60,47
19238,264540,48.0,36.0,48.0,45.0,38.0,68.0,217000.0,1,2,3,2025.0,1.0,61,167,19,500.0,110000.0,60,47

In [47]:
dfs=dfs.fillna(dfs.mean())
dfs.isnull().sum()

sofifa_id                    0
physic                       0
defending                    0
dribbling                    0
passing                      0
shooting                     0
pace                         0
release_clause_eur           0
international_reputation     0
skill_moves                  0
weak_foot                    0
club_contract_valid_until    0
league_level                 0
weight_kg                    0
height_cm                    0
age                          0
wage_eur                     0
value_eur                    0
potential                    0
overall                      0
dtype: int64

In [48]:
X=dfs.drop(columns=['value_eur','sofifa_id'])
y=dfs.value_eur

In [49]:
y

0         78000000.0
1        119500000.0
2         45000000.0
3        129000000.0
4        125500000.0
            ...
19234        70000.0
19235       110000.0
19236       100000.0
19237       110000.0
19238       110000.0
Name: value_eur, Length: 19239, dtype: float64

In [50]:
from sklearn.model_selection import train_test_split
X_train22, X_test22, y_train22, y_test22 = train_test_split(X, y, test_size=0.3,random_state=10)

In [51]:
trainer=Trainer(X_train22,y_train22)

In [52]:
trainer

In [53]:
trainer.run()

In [54]:
y_pred=trainer.predict(X_test22)

In [55]:
pd.DataFrame(y_pred)

                 0
0     1.772964e+06
1     1.819739e+07
2     6.929951e+05
3     3.164025e+06
4     6.479508e+06
...            ...
5767  7.042620e+06
5768  7.675326e+05
5769  3.673898e+05
5770  1.693856e+05
5771  3.652390e+06

[5772 rows x 1 columns]

In [56]:
import numpy as np

In [57]:
yt=np.log(y_test22)

In [58]:
predictions={'y_pred':np.log(y_pred),'y_true':yt}

In [59]:
new_df=pd.DataFrame(predictions).sort_index()
new_df.head(30)

        y_pred     y_true
0    19.382189  18.172219
7    17.424385  16.418200
9    19.854092  18.679191
13   19.348435  18.459901
16   19.318883  18.430631
39   18.685542  18.320860
40   18.851040  18.348110
42   18.693371  18.240357
43   19.610200  18.598827
44   19.488048  18.551709
48   16.395135  15.830414
51   18.149210  17.989898
53   17.494218  17.795192
55   17.959585  17.997561
56   17.613623  17.831894
58   18.228976  17.997561
59   18.004643  18.035018
68   18.348367  18.119576
76   16.737885  16.677711
79   17.389287  17.576711
82   17.762898  17.776324
83   17.527350  17.785802
85   18.052734  17.804495
87   17.876944  17.676240
90   18.288966  18.005165
99   16.718016  16.418200
100  16.732528  16.835935
103  16.681490  16.860033
113  17.205108  17.327056
115  17.043093  17.356470

In [60]:
trainer.evaluate(np.log(y_pred),np.log(y_test22))

0.25

In [65]:
X_test={'physic':66.0, 'defending':37, 'dribbling':94, 'passing':90,
       'shooting':95, 'pace':88, 'release_clause_eur':145500000.0,
       'international_reputation':5, 'skill_moves':4, 'weak_foot':3,
       'club_contract_valid_until':2023, 'league_level':2,
       'weight_kg':73, 'height_cm':175, 'age':25,
       'wage_eur':270000.0,'potential':90, 'overall':88}

In [68]:
X_test=pd.DataFrame(data=X_test,index=[0])

In [69]:
X_test

,index,physic,defending,dribbling,passing,shooting,pace,release_clause_eur,international_reputation,skill_moves,weak_foot,club_contract_valid_until,league_level,weight_kg,height_cm,age,wage_eur,potential,overall
0,0,66.0,37,94,90,95,88,145500000.0,5,4,3,2023,2,73,175,25,270000.0,90,88

In [70]:
y_pred_new=trainer.predict(X_test)
y_pred

array([ 1772964.03712228, 18197390.03901683,   692995.12880263, ...,
         367389.81961335,   169385.60387895,  3652390.33326425])