In [1]:
%load_ext autoreload
%autoreload 2

In [4]:
from opti_recruit.pipeline import Trainer

In [7]:
from opti_recruit.data import get_data,clean_data

In [6]:
from opti_recruit.data import clean_data,get_data

In [10]:
import pandas as pd

In [11]:
df=pd.read_csv('df_all_d_new.csv',index_col=[0])
df=df.dropna(how='any')

In [19]:
df

,sofifa_id,physic_21,defending_21,dribbling_21,passing_21,shooting_21,pace_21,release_clause_eur_21,international_reputation_21,skill_moves_21,...,club_contract_valid_until_19,league_level_19,club_team_id_19,weight_kg_19,height_cm_19,age_19,wage_eur_19,value_eur_19,potential_19,overall_19
2,20801,77.0,35.0,89.0,81.0,93.0,89.0,75900000.0,5.0,5.0,...,2022.0,1.0,45.0,83.0,187.0,33.0,400000.0,77000000.0,94.0,94.0
4,192985,78.0,64.0,88.0,93.0,86.0,76.0,161000000.0,4.0,4.0,...,2023.0,1.0,10.0,70.0,181.0,27.0,350000.0,102000000.0,92.0,91.0
6,231747,76.0,39.0,91.0,78.0,86.0,96.0,203100000.0,3.0,5.0,...,2022.0,1.0,73.0,73.0,178.0,19.0,80000.0,72000000.0,95.0,87.0
9,202126,83.0,47.0,80.0,80.0,91.0,68.0,140200000.0,3.0,3.0,...,2024.0,1.0,18.0,89.0,188.0,24.0,200000.0,86000000.0,92.0,89.0
10,215914,82.0,86.0,81.0,76.0,66.0,77.0,96900000.0,3.0,2.0,...,2021.0,1.0,5.0,68.0,168.0,27.0,225000.0,63000000.0,90.0,89.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19686,191005,70.0,67.0,69.0,71.0,64.0,68.0,2900000.0,2.0,3.0,...,2020.0,2.0,2.0,78.0,182.0,30.0,15000.0,2200000.0,72.0,72.0
19722,211338,71.0,63.0,72.0,70.0,67.0,69.0,3900000.0,1.0,3.0,...,2018.0,1.0,110152.0,65.0,164.0,27.0,7000.0,3500000.0,73.0,72.0
19735,216468,57.0,43.0,71.0,72.0,69.0,68.0,4600000.0,1.0,3.0,...,2021.0,2.0,573.0,65.0,175.0,24.0,9000.0,7500000.0,79.0,74.0
19963,178233,68.0,59.0,71.0,65.0,62.0,66.0,1500000.0,1.0,3.0,...,2019.0,1.0,80.0,78.0,182.0,29.0,4000.0,850000.0,68.0,68.0
21122,221662,65.0,55.0,67.0,63.0,66.0,73.0,1500000.0,1.0,3.0,...,2020.0,1.0,702.0,75.0,174.0,23.0,3000.0,1100000.0,75.0,67.0

In [10]:
df_22=pd.read_csv('../raw_data/fifa22/players_22.csv')
df_22=df_22[['sofifa_id','value_eur']]

/var/folders/w7/n5m3c1_n3mn3b92rk5hw7msc0000gn/T/ipykernel_41298/1779480134.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df_22=pd.read_csv('../raw_data/fifa22/players_22.csv')

In [11]:
dfs=df.merge(df_22,on='sofifa_id',how='inner')

In [12]:
dfs=dfs[dfs['value_eur']!=0]
dfs

,sofifa_id,physic_21,defending_21,dribbling_21,passing_21,shooting_21,pace_21,release_clause_eur_21,international_reputation_21,skill_moves_21,...,league_level_19,club_team_id_19,weight_kg_19,height_cm_19,age_19,wage_eur_19,value_eur_19,potential_19,overall_19,value_eur
0,20801,77.0,35.0,89.0,81.0,93.0,89.0,75900000.0,5.0,5.0,...,1.0,45.0,83.0,187.0,33.0,400000.0,77000000.0,94.0,94.0,45000000.0
1,192985,78.0,64.0,88.0,93.0,86.0,76.0,161000000.0,4.0,4.0,...,1.0,10.0,70.0,181.0,27.0,350000.0,102000000.0,92.0,91.0,125500000.0
2,231747,76.0,39.0,91.0,78.0,86.0,96.0,203100000.0,3.0,5.0,...,1.0,73.0,73.0,178.0,19.0,80000.0,72000000.0,95.0,87.0,194000000.0
3,202126,83.0,47.0,80.0,80.0,91.0,68.0,140200000.0,3.0,3.0,...,1.0,18.0,89.0,188.0,24.0,200000.0,86000000.0,92.0,89.0,129500000.0
4,215914,82.0,86.0,81.0,76.0,66.0,77.0,96900000.0,3.0,2.0,...,1.0,5.0,68.0,168.0,27.0,225000.0,63000000.0,90.0,89.0,100000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
283,217758,71.0,41.0,64.0,56.0,63.0,74.0,831000.0,1.0,2.0,...,2.0,15.0,85.0,178.0,26.0,4000.0,825000.0,69.0,66.0,850000.0
284,195480,65.0,62.0,63.0,61.0,47.0,69.0,831000.0,1.0,3.0,...,2.0,97.0,71.0,183.0,26.0,8000.0,1700000.0,71.0,70.0,NaN
285,236047,69.0,65.0,56.0,55.0,33.0,67.0,531000.0,1.0,2.0,...,1.0,705.0,79.0,179.0,28.0,2000.0,240000.0,62.0,62.0,425000.0
286,186352,76.0,65.0,49.0,53.0,32.0,54.0,919000.0,1.0,2.0,...,1.0,694.0,82.0,187.0,28.0,5000.0,1400000.0,70.0,70.0,325000.0
287,203338,64.0,60.0,61.0,56.0,39.0,77.0,544000.0,1.0,2.0,...,1.0,111651.0,75.0,180.0,27.0,2000.0,375000.0,64.0,64.0,425000.0

In [13]:
dfs=dfs.fillna(dfs.mean())
dfs.isnull().sum()

sofifa_id       0
physic_21       0
defending_21    0
dribbling_21    0
passing_21      0
               ..
wage_eur_19     0
value_eur_19    0
potential_19    0
overall_19      0
value_eur       0
Length: 65, dtype: int64

In [14]:
X=dfs.drop(columns='value_eur')
y=dfs.value_eur

In [44]:
y

0      4.500000e+07
1      1.255000e+08
2      1.940000e+08
3      1.295000e+08
4      1.000000e+08
           ...
283    8.500000e+05
284    2.174205e+07
285    4.250000e+05
286    3.250000e+05
287    4.250000e+05
Name: value_eur, Length: 288, dtype: float64

In [45]:
from sklearn.model_selection import train_test_split
X_train22, X_test22, y_train22, y_test22 = train_test_split(X, y, test_size=0.3,random_state=10)

In [46]:
trainer=Trainer(X_train22,y_train22)

In [47]:
trainer

In [48]:
trainer.run()

In [49]:
y_pred=trainer.predict(X_test22)

In [57]:
pd.DataFrame(y_pred)

               0
0   4.359597e+06
1   1.267452e+07
2   2.218519e+06
3   8.310067e+05
4   2.285963e+07
..           ...
82  1.285916e+07
83  2.370200e+07
84  2.609178e+06
85  1.284977e+08
86  1.910584e+07

[87 rows x 1 columns]

In [63]:
predictions={'y_pred':np.log(y_pred),'y_true':yt}

In [61]:
import numpy as np

In [62]:
yt=np.log(y_test22)

In [64]:
new_df=pd.DataFrame(predictions).sort_index()
new_df.head(30)

        y_pred     y_true
0    16.789239  17.622173
6    18.671422  18.430631
10   18.115323  18.353472
19   18.767370  18.551709
20   17.628486  18.445373
21   16.197860  16.300417
24   17.745163  17.622173
25   17.635255  17.997561
26   17.472146  18.042344
35   17.115582  17.776324
36   18.957605  18.165788
38   16.794022  16.835935
43   16.983055  17.686712
47   18.338517  17.849751
49   17.659146  17.840862
55   16.765505  17.356470
56   16.505072  17.611000
59   17.440492  17.385043
60   15.287890  15.520259
61   17.301240  17.199901
64   17.465561  17.233237
68   16.698135  17.129697
70   17.951393  17.707331
76   16.216944  15.955577
78   16.469784  16.860033
80   16.142773  16.906553
87   18.347602  17.466169
92   16.965057  17.054189
98   16.369567  16.705882
100  16.944883  17.014184

In [71]:
trainer.evaluate(np.log(y_pred),np.log(y_test22))

0.55

In [ ]:
## test 0310

In [2]:
from opti_recruit.value_predict import pre_process,prediction,value_show

In [20]:
ans=prediction()

[autoreload of opti_recruit.value_predict failed: Traceback (most recent call last):
  File "/Users/yifeisun/.pyenv/versions/3.8.12/envs/opti_recruit/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 257, in check
    superreload(m, reload, self.old_objects)
  File "/Users/yifeisun/.pyenv/versions/3.8.12/envs/opti_recruit/lib/python3.8/site-packages/IPython/extensions/autoreload.py", line 455, in superreload
    module = reload(module)
  File "/Users/yifeisun/.pyenv/versions/3.8.12/lib/python3.8/importlib/__init__.py", line 169, in reload
    _bootstrap._exec(spec, module)
  File "<frozen importlib._bootstrap>", line 604, in _exec
  File "<frozen importlib._bootstrap_external>", line 843, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/Users/yifeisun/code/yirki/opti_recruit/opti_recruit/value_predict.py", line 8, in <module>
    dfs=get_data()
  File "/Users/yifeisun/code/yirki/opti_recruit/opti_recruit/data.py", line 8, in get_data
    dfs[year] = pd.read_csv(f'raw_data/fifa22/players_{year}.csv', low_memory=False)
  File "/Users/yifeisun/.pyenv/versions/3.8.12/envs/opti_recruit/lib/python3.8/site-packages/pandas/util/_decorators.py", line 311, in wrapper
    return func(*args, **kwargs)
  File "/Users/yifeisun/.pyenv/versions/3.8.12/envs/opti_recruit/lib/python3.8/site-packages/pandas/io/parsers/readers.py", line 680, in read_csv
    return _read(filepath_or_buffer, kwds)
FileNotFoundError: [Errno 2] No such file or directory: 'raw_data/fifa22/players_17.csv'
]

KeyError: "['value_eur'] not in index"

In [4]:
ans

           predict_value
sofifa_id
158023      2.500108e+08
188545      5.769534e+08
20801       7.838878e+07
190871      1.307800e+09
192985      1.045062e+09
...                  ...
261962      8.286290e+04
262040      1.372614e+05
262760      9.621274e+04
262820      1.354939e+05
264540      1.519665e+05

[19239 rows x 1 columns]

In [6]:
ans.to_csv('predict_value_2023.csv')