In [72]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [73]:
from opti_recruit.pipeline import Trainer

In [44]:
from opti_recruit.data import get_data,clean_data

In [3]:
from opti_recruit.data import clean_data,get_data

In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('df_all_d_new.csv',index_col=[0])
df=df.dropna(how='any')

In [6]:
df

,sofifa_id,physic_21,defending_21,dribbling_21,passing_21,shooting_21,pace_21,release_clause_eur_21,international_reputation_21,skill_moves_21,...,club_contract_valid_until_19,league_level_19,club_team_id_19,weight_kg_19,height_cm_19,age_19,wage_eur_19,value_eur_19,potential_19,overall_19
2,20801,77.0,35.0,89.0,81.0,93.0,89.0,75900000.0,5.0,5.0,...,2022.0,1.0,45.0,83.0,187.0,33.0,400000.0,77000000.0,94.0,94.0
4,192985,78.0,64.0,88.0,93.0,86.0,76.0,161000000.0,4.0,4.0,...,2023.0,1.0,10.0,70.0,181.0,27.0,350000.0,102000000.0,92.0,91.0
6,231747,76.0,39.0,91.0,78.0,86.0,96.0,203100000.0,3.0,5.0,...,2022.0,1.0,73.0,73.0,178.0,19.0,80000.0,72000000.0,95.0,87.0
9,202126,83.0,47.0,80.0,80.0,91.0,68.0,140200000.0,3.0,3.0,...,2024.0,1.0,18.0,89.0,188.0,24.0,200000.0,86000000.0,92.0,89.0
10,215914,82.0,86.0,81.0,76.0,66.0,77.0,96900000.0,3.0,2.0,...,2021.0,1.0,5.0,68.0,168.0,27.0,225000.0,63000000.0,90.0,89.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19686,191005,70.0,67.0,69.0,71.0,64.0,68.0,2900000.0,2.0,3.0,...,2020.0,2.0,2.0,78.0,182.0,30.0,15000.0,2200000.0,72.0,72.0
19722,211338,71.0,63.0,72.0,70.0,67.0,69.0,3900000.0,1.0,3.0,...,2018.0,1.0,110152.0,65.0,164.0,27.0,7000.0,3500000.0,73.0,72.0
19735,216468,57.0,43.0,71.0,72.0,69.0,68.0,4600000.0,1.0,3.0,...,2021.0,2.0,573.0,65.0,175.0,24.0,9000.0,7500000.0,79.0,74.0
19963,178233,68.0,59.0,71.0,65.0,62.0,66.0,1500000.0,1.0,3.0,...,2019.0,1.0,80.0,78.0,182.0,29.0,4000.0,850000.0,68.0,68.0
21122,221662,65.0,55.0,67.0,63.0,66.0,73.0,1500000.0,1.0,3.0,...,2020.0,1.0,702.0,75.0,174.0,23.0,3000.0,1100000.0,75.0,67.0

In [7]:
df_22=pd.read_csv('../raw_data/fifa22/players_22.csv')
df_22=df_22[['sofifa_id','value_eur']]

/var/folders/w7/n5m3c1_n3mn3b92rk5hw7msc0000gn/T/ipykernel_36293/1779480134.py:1: DtypeWarning: Columns (25,108) have mixed types. Specify dtype option on import or set low_memory=False.
  df_22=pd.read_csv('../raw_data/fifa22/players_22.csv')

In [8]:
dfs=df.merge(df_22,on='sofifa_id',how='inner')

In [58]:
dfs=dfs[dfs['value_eur']!=0]
dfs

,sofifa_id,physic_21,defending_21,dribbling_21,passing_21,shooting_21,pace_21,release_clause_eur_21,international_reputation_21,skill_moves_21,...,league_level_19,club_team_id_19,weight_kg_19,height_cm_19,age_19,wage_eur_19,value_eur_19,potential_19,overall_19,value_eur
0,20801,77.0,35.0,89.0,81.0,93.0,89.0,75900000.0,5.0,5.0,...,1.0,45.0,83.0,187.0,33.0,400000.0,77000000.0,94.0,94.0,45000000.0
1,192985,78.0,64.0,88.0,93.0,86.0,76.0,161000000.0,4.0,4.0,...,1.0,10.0,70.0,181.0,27.0,350000.0,102000000.0,92.0,91.0,125500000.0
2,231747,76.0,39.0,91.0,78.0,86.0,96.0,203100000.0,3.0,5.0,...,1.0,73.0,73.0,178.0,19.0,80000.0,72000000.0,95.0,87.0,194000000.0
3,202126,83.0,47.0,80.0,80.0,91.0,68.0,140200000.0,3.0,3.0,...,1.0,18.0,89.0,188.0,24.0,200000.0,86000000.0,92.0,89.0,129500000.0
4,215914,82.0,86.0,81.0,76.0,66.0,77.0,96900000.0,3.0,2.0,...,1.0,5.0,68.0,168.0,27.0,225000.0,63000000.0,90.0,89.0,100000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,192624,64.0,62.0,68.0,63.0,57.0,76.0,1200000.0,1.0,3.0,...,2.0,97.0,66.0,175.0,26.0,5000.0,700000.0,66.0,66.0,750000.0
283,217758,71.0,41.0,64.0,56.0,63.0,74.0,831000.0,1.0,2.0,...,2.0,15.0,85.0,178.0,26.0,4000.0,825000.0,69.0,66.0,850000.0
285,236047,69.0,65.0,56.0,55.0,33.0,67.0,531000.0,1.0,2.0,...,1.0,705.0,79.0,179.0,28.0,2000.0,240000.0,62.0,62.0,425000.0
286,186352,76.0,65.0,49.0,53.0,32.0,54.0,919000.0,1.0,2.0,...,1.0,694.0,82.0,187.0,28.0,5000.0,1400000.0,70.0,70.0,325000.0
287,203338,64.0,60.0,61.0,56.0,39.0,77.0,544000.0,1.0,2.0,...,1.0,111651.0,75.0,180.0,27.0,2000.0,375000.0,64.0,64.0,425000.0

In [59]:
dfs=dfs.fillna(dfs.mean())
dfs.isnull().sum()

sofifa_id       0
physic_21       0
defending_21    0
dribbling_21    0
passing_21      0
               ..
wage_eur_19     0
value_eur_19    0
potential_19    0
overall_19      0
value_eur       0
Length: 65, dtype: int64

In [60]:
X=dfs.drop(columns='value_eur')
y=dfs.value_eur

In [55]:
y

<class 'pandas.core.series.Series'>
Int64Index: 288 entries, 0 to 287
Series name: value_eur
Non-Null Count  Dtype
--------------  -----
288 non-null    float64
dtypes: float64(1)
memory usage: 4.5 KB

In [12]:
from sklearn.model_selection import train_test_split
X_train22, X_test22, y_train22, y_test22 = train_test_split(X, y, test_size=0.3,random_state=10)

In [74]:
trainer=Trainer(X,y)
trainer.run()
y_pred=trainer.predict(X_test22)

In [79]:
pd.DataFrame(y_pred)

               0
0   4.212208e+06
1   1.124635e+07
2   1.586872e+06
3   6.438303e+05
4   2.213775e+07
..           ...
82  1.659578e+07
83  2.269269e+07
84  2.274580e+06
85  1.406162e+08
86  2.289033e+07

[87 rows x 1 columns]