In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from opti_recruit.value_predict import pre_process,prediction,value_show
from opti_recruit.data import get_data

In [3]:
ans=prediction()

In [4]:
ans.head(10)

           predict_value
sofifa_id
158023      8.861791e+07
188545      1.246221e+08
20801       4.901391e+07
190871      1.528421e+08
192985      1.485897e+08
200389      1.527111e+08
231747      2.441983e+08
167495      9.509145e+06
192448      1.343187e+08
202126      1.586448e+08

In [5]:
dfs=get_data()

In [6]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [7]:
dfs[22][['attacking_short_passing']].isnull().sum()

attacking_short_passing    0
dtype: int64

In [8]:
value_22=dfs[22][['sofifa_id','value_eur']]

In [9]:
new=value_22.merge(ans,on='sofifa_id',how='outer')
new.head(20)

    sofifa_id    value_eur  predict_value
0      158023   78000000.0   8.861791e+07
1      188545  119500000.0   1.246221e+08
2       20801   45000000.0   4.901391e+07
3      190871  129000000.0   1.528421e+08
4      192985  125500000.0   1.485897e+08
5      200389  112000000.0   1.527111e+08
6      231747  194000000.0   2.441983e+08
7      167495   13500000.0   9.509145e+06
8      192448   99000000.0   1.343187e+08
9      202126  129500000.0   1.586448e+08
10     215914  100000000.0   1.171118e+08
11     165153   66000000.0   8.374384e+07
12     192119   85500000.0   1.155139e+08
13     200104  104000000.0   1.268552e+08
14     200145   88000000.0   1.148298e+08
15     203376   86000000.0   1.009073e+08
16     208722  101000000.0   1.188974e+08
17     209331  101000000.0   1.187304e+08
18     210257   94000000.0   1.162158e+08
19     212622  108000000.0   1.197727e+08

In [10]:
ans.to_csv('abetter_predicted_23.csv')